body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
}

/* Create the structure for the nav header section */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 20px auto;
}

/* Margin for the style inicio, acerca de...*/
li {
  margin-right: 30px;
}
/*last child have diferent margin-right, ingresar*/
li:last-child {
  margin-right: 20px;
}

/* Style of the a tag*/
header a {
  color: #333;
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  font-family: Tahoma, sans-serif;
  text-transform: uppercase;
}

/* style for the dropdown ul Inicio, acerca de...*/
.dropdown {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*style for the dropdown option, ACERCA DE*/
.dropdown-option {
  cursor: pointer;
  position: relative;
}

/* structure for the dropdown-submeno when the pointer is in acerca de or planes*/
.dropdown-submenu {
  display: flex;
  flex-direction: column  ;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

/* design for a tag of the submenu*/
.dropdown-submenu a{
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 20px;
}
/* design for a tag of the submenu when the pointer is hover*/
.dropdown-submenu a:hover{
  font-size: 18px;
  font-weight: 200;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
/* exception for the last-chield of the submenu tag*/
.dropdown-submenu a:last-child{
  margin-bottom: 0px;
}

